/* colors appear in the code editor */

:root {
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    --DarkGray: hsl(0, 0%, 59%);
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 55vh;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    background-color: white;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 40%;
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#victor {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid;
    border-width: 5px;
    border-color: white;
    margin-top: 80px;
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

#break {
    background-color: hsl(0, 0%, 90%);
    width: 99%;
    height: 1px;
    margin-top: 10px;
}

#align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    margin-left: 30px;
    margin-top: 15px;
}

.stat-name {
    margin-top: -5px;
}

.stat-name, p {
    font-size: 0.875rem;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

p {
    margin-top: -5px;
}

#number {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

@media only screen and (max-width: 375px) {

    body {
        background-position: right 50vw bottom 40vh, left 40vw top 45vh;
    }

    main {
        width: 90%;
    }

}